.Dropzone {
  height: 200px;
  background: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.Dropzone svg {
  margin-top: 25px;
}

.Dropzone p {
  color: #888;
  font-size: 1.1rem;
}

.ResInput {
  display: block;
}
