.Navbar {
  /* background-color: #c6693d; */
  background-color: #e98f46
}

.Ungrow {
  flex-grow: unset;
}

.BrandLogo {
  width: 36px;
}

.BrandName {
  color: #eee;
  position: absolute;
  display: inline-block;
  left: 60px;
}

@media (max-width: 1024px) {
  .BrandName {
    display: none;
  }
}
