.Card {
  margin: 6px;
  width: 100%;
  text-align: left;
  display: inline-block;
  max-width: 300px;
}

.Card .CardImage {
  height: 140px;
  object-fit: cover;
}

.Card > div {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 800px) {
  .Card {
    margin: 10px;
  }

  .Card .CardImage {
    height: 200px;
  }

  .Card > div {
    padding: 12px;
  }
}
