/* SEARCHBAR STYLES */
.SearchbarWrapper {
  width: unset;
  flex-grow: 1;
}

.Searchbar {
  position: relative;
  max-width: 400px;
  width: 90%;
}

.Searchbar input {
  padding-right: 36px;
}

.SearchResults {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  top: 30px;
  left: 0;
}

.SearchResultItem:hover,
.SearchResultItem:active {
  background-color: #f8f8f8;
  cursor: pointer;
}

.SearchResultItem img {
  max-width: 60px;
  height: calc(60 * 0.7);
  object-fit: cover;
}

.SearchResultItem p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.SearchIcon {
  position: absolute;
  right: 10px;
  top: 20%;
  bottom: 20%;
}

.Spinner {
  top: 30%;
  right: 14px;
  width: 16px;
  height: 16px;
  border-width: 1.4px;
  color: #767676;
}

/* AVATAR STYLES */
.Avatar {
  background: #dcc983;
  color: #fff;
  width: 36px;
  height: 36px;
}

.PopoverItem:hover,
.PopoverItem:active {
  background: #f1f1f1;
  cursor: pointer;
}

/* FAB STYLES */
.Fab {
  background-color: #e98f46;
  z-index: 1;
  bottom: 20px;
  right: 20px;
}

/* CARD STYLES */
.Card {
  margin: 6px;
  width: 100%;
  text-align: left;
  display: inline-block;
  max-width: 300px;
}

.Card .CardImage {
  height: 140px;
  object-fit: cover;
}

.Card > div {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* MEDIA QUERIES */
@media (min-width: 800px) {
  .Fab {
    display: none;
  }

  .Card {
    margin: 10px;
  }

  .Card .CardImage {
    height: 200px;
  }

  .Card > div {
    padding: 12px;
  }
}
